body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#steering-wheel{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
}

#gas-pedal{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    margin: 30px;
}

#horn-button{

}

.toggle-button{

}

.flip-flop-button{

}
