body{
    width: 100vw;
    height: 100vh;
}

#steering-wheel{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    width: 25%;
}

#gas-pedal{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 10%;
    transform-origin: bottom;
}

#horn-button{

}

.toggle-button{

}

.flip-flop-button{

}
