:root {
    --gas-width: calc((55vh*200)/330);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    background: linear-gradient(215deg, rgba(2, 0, 36, 1) 0%, rgba(9, 34, 121, 1) 37%, rgba(0, 255, 166, 1) 100%);
    background-size: 110% auto;
}

#icon{
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: 75%;
    left: calc(50vw - 50%);
}

#badge{
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    height: 15vh;
}

#steering-wheel {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    height: 50vh;
}

#gas-pedal {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    height: 55vh;
    transform-origin: bottom;
}

#gas-pedal:active{
    border-radius: 8%;
    box-shadow: inset 0 0 0 999999px #00000060;
}

#horn-button {
    width: 35vh;
    height: 15vh;
    position: absolute;
    right: 0;
    bottom: calc(20px + 55vh);
    margin: 20px;
}

#headlight {
    width: 100%;
}

#signal-area {
    display: flex;
    justify-content: center;
}

#light-area {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

#gear {
    width: 55vh;
    position: absolute;
    margin: 20px;
    bottom: -10px;
    right: calc(40px + var(--gas-width));
    transform-origin: 100% 50%;
    transform: rotate(-90deg) translateX(100%);
}

#gear-text {
    position: absolute;
    bottom: calc(20px + 55vh);
    right: calc(25px + var(--gas-width));
    font-size: 2.5em;
    margin: 20px;
    color: white;
}

#console {
    position: absolute;
    margin: 20px;
    top: 0;
    bottom: 0;
    left: calc(20px + 50vh);
    right: calc(85px + var(--gas-width));
    display: flex;
    flex-direction: column;
}

#display {
    flex: 1;
}

#debug-console {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    border: solid rgb(255, 148, 148) 3px;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    height: 35%;
    margin: 20px 0 0 0;
}

#debug-txt {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    background: linear-gradient(180deg, rgba(0, 255, 0, 0) 0%, rgba(0, 255, 0, 1) 80%);
    color: transparent;
    background-clip: text;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column-reverse;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%);
    background-position: 60px 60px;
    box-shadow: -10px -10px 30px black;
}

button {
    background: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
    border: none;
    border-radius: 5px;
    background-size: 200% auto;
    box-shadow: 0 0 3px black;
}

button:active{
    box-shadow: inset 0 0 0 999999px #00000060;
}

.toggle-button {
    width: 15vh;
    height: 15vh;
    transition: background-color 0.1s;
}

.toggle-button.on {
    background: linear-gradient(to right, #bddd5e 0%, #f4f797 51%, #ddb35e 100%);
    box-shadow: 0 0 5px yellow;
}

.toggle-button.active {
    background: linear-gradient(to right, #e28eaa 0%, #fcd3ba 51%, #e28aa8 100%) !important;
    box-shadow: 0 0 3px #a73f17;
}